<body>
  <div class="container">
    <div class="row" ><br><br><br>
      <div id="form-left" class="part">
	<%= render "form" %>
      </div>
      <div id="form-midle" class="part"><embed width="100%" height="100%" controls="controls" src="https://www.youtube.com/v/M7lc1UVf-VE?version=3" type="application/x-shockwave-flash">
      </embed></div>
      <div id="form-right" class="part" ><marquee behavior="scroll" direction="up" scrollamount="1" height=170 ><p> Hello..</p><p>Welcome to I Am Gifted</p></marquee></div>
    </div>
  </div>
</body>

